html, body {
    height: 100%;
    position: relative;
    margin: 0;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.199) !important;
}

.navbar {
    font-family: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 0px !important; 
}

.navbar.navbar-small {
    background-color:rgb(51, 186, 196);
}

.navbar.navbar-default {
    background-color:rgba(219, 219, 219, 0.932);
}

.navbar-brand {
    color: rgb(66, 110, 121) !important;
    text-shadow: 0.15em 0.15em 0 rgba(0, 0, 0, 0.1);
}

.nav.navbar-nav.navbar-right li a {
    color: rgb(66, 110, 121);
    text-shadow: 0.15em 0.15em 0 rgba(0, 0, 0, 0.1);
}

.wrapper { 
    color: black;
    min-height:100%;
    font-family: monospace;
    background-image: url('background.png');
    background-size: 100% 83%;
    background-repeat: no-repeat;
    opacity: 0.75;         
}

.footer {
    font-family: inherit;
    background-color:rgba(219, 219, 219, 0.932);
    bottom: 0 !important;
    width: 100% !important;
    position: fixed !important;
}

.footer p.right {
    float: right !important;
    margin-right:48px !important;
    padding-top: 6px !important;
}

.fa {
    font-size: 16px !important;
    width: 35px !important;
    height: 35px !important;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 50% !important;
}

.fa-google {
    padding: 10px;
    background: rgb(196, 81, 81);
    color: white;
}

.fa-facebook {
    padding: 10px;
    background: #3B5998;
    color: white;
}

.fa-instagram {
    padding: 10px;
    background: rgb(217, 160, 240);
    color: white;
}

.fa-twitter {
    padding: 10px;
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    padding: 10px;
    background: rgb(32, 110, 170);
    color: white;
}

.fa-github {
    padding: 10px;
    background: white;
    color: black;

}

.fa:hover {
    background-color: rgba(0, 0, 0, 0.123);
}

.sandbox-correct-pronounciation {
    padding: 10em 0 10em 0;
}

.heading-correct-pronounciation {
    margin: auto;
    text-align: center;
    position: relative;
}


h2 {
    color: rgba(0, 0, 0, 0.897) !important;
    font-family: 'Cardo', serif;
    font-size: 1.6em !important;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
}

em {
    font-family: 'EB Garamond', serif;
    font-size: 3.5em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    font-style:normal;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

}

.bottom {
    font-size: 1.5em;
    letter-spacing: 0.07em;
    font-size: 1em;
    display: block;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

p {
    text-align: justify;
    font-size: 16px;
    text-shadow: 0.06em 0.06em 0 rgba(0, 0, 0, 0.1);
}